.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.bio {
    text-align: center;
    color: hsla(0deg, 100, 100, 0.4);
    margin-top: 16px;
}

.waveButton {
    cursor: pointer;
    margin-top: 16px;
    padding: 16px;
    border: 0;
    border-radius: 5px;
    background-color: hsl(327, 85%, 40%);
    color: white;
    font-weight: 600;
    transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.waveButton:hover {
    background-color: hsl(342, 85%, 32%);
}
